.Product {
  text-align: center;
  border: 1px solid black;
  margin: 50px;
  padding: 15px;
  height: 400px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: larger;
  font-weight: 600;
  font-family: sans-serif;
  border-radius: 24px;
  background-color: aqua;
}

span {
  margin: 0 10px;
}

.price {
  background-color: rgb(255, 222, 138);
}